.navbar-brand{
	text-align: left;
	font-size: 1.8em;
}
li{
	background-color: red;
	border: 1px solid black;
}
section
{
	height:1000px;
	background-color: yellow;
}
.navbar-nav {
	margin: 0px -15px;
}
nav.navbar.navbar-default
{
	background-color: yellow;
}
.row{
	padding-right: 30px;
	padding-left: 30px;
}